{% extends '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block item_actions %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans, '%entity_label%': easyadmin.entity.label|trans } %}

    <button type="submit" name="save_and_stay" class="btn btn-primary action-save action-save-and-stay">
        <i class="fa fa-save"></i> {{ 'admin.action.save_and_stay'|trans(_trans_parameters, _translation_domain) }}
    </button>

    {{ parent() }}
{% endblock %}

{% block form_label_class %}
    {{- label is same as (false) ? '' : 'col-sm-2' -}}
{% endblock %}

{% block form_group_class %}
    {{- label is same as (false) ? 'col-sm-12' : 'col-sm-10' -}}
{% endblock %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group date" id="{{ id }}-picker">
            {{ parent() }}
            <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
        </div>
        {{ block('moment_js') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block datetime_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group datetime" id="{{ id }}-picker">
            {{ parent() }}
            <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
        </div>
        {{ block('moment_js') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block moment_js %}
    <script type="text/javascript">
        {# https://github.com/smalot/bootstrap-datetimepicker/issues/160#issuecomment-141245623 #}
        {# https://github.com/Eonasdan/bootstrap-datetimepicker/issues/49#issuecomment-111150744 #}
        $(function () {
            $('#{{ id }}-picker').datetimepicker({
                locale: '{{ app.request.locale }}',
                showTodayButton: true,
                showClose: true,
                format: '{{ format }}',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-check-o',
                    clear: 'fa fa-trash-o',
                    close: 'fa fa-close'
                }
            });
        });
    </script>
{% endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="easyadmin-vich-image">
            <div class="row">
                {% if download_uri|default('') is not empty %}
                    <div class="col-sm-12">
                        {% set _lightbox_id = 'easyadmin-lightbox-' ~ id %}

                        <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ _lightbox_id }}" data-featherlight-close-on-click="anywhere">
                            <img id="{{ id }}_file-img" src="{{ asset(download_uri|replace({'//': '/'})) }}" {% if download_uri is empty %}width="75"{% endif %}>
                        </a>

                        <div id="{{ _lightbox_id }}" class="easyadmin-lightbox">
                            <img src="{{ asset(download_uri|replace({'//': '/'})) }}">
                        </div>
                        {% if form.delete is defined %}
                            <div style="display: block; margin: 10px 0 0;">
                                {{ form_row(form.delete, { label: 'action.delete' }) }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="col-sm-12">
                    <div class="actualImage_{{ id }}_file" style="display: none; margin: 0 0 10px;">
                        <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ id }}-light" data-featherlight-close-on-click="anywhere">
                            <img id="{{ id }}_file-img" src="">
                        </a>

                        <div id="{{ id }}-light" class="easyadmin-lightbox">
                            <img id="{{ id }}_file-img-lightbox" src="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_widget(form.file) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block file_widget %}
    {{ block('elfinder_widget') }}
{% endblock %}

{% block elfinder_widget %}
    <input type="hidden" {{ block('widget_attributes') }} {% if form.parent.vars.download_uri is not empty %}value="{{ form.parent.vars.download_uri|replace({'//': '/'}) }}" {% endif %} data-type="elfinder-input-field" />
    <div class="{{ id }}-inputText" style="display: none; margin: 0 0 10px;"><input type="text" class="disabled" disabled value=""></div>
    <a id="{{ id }}-a" href="#" class="btn btn-default">{{ 'admin.class.file_manager'|trans }}</a>

    {{ block('elfinder_modal') }}
{% endblock %}

{% block elfinder_modal %}
    <div id="{{ id }}-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="elfinder" style="max-height: 90%; z-index: 11100">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">{{ 'admin.class.file_manager'|trans }}</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'admin.action.close'|trans }}</button>
                    <button type="button" class="btn btn-primary choose-img">{{ 'admin.action.select_file'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    {% if enable and instance is defined %}
        <script type="text/javascript" charset="utf-8">
            window['elFinderSetValue'] = function (value, id) {
                value = value.replace(/^\/+/gm, '');
                $('#'+id).val(value);
                $('#easyadmin-lightbox-'+id+' img').attr('src', value);
                $('#{{ id }}-modal').modal('hide');
            }

            $('#{{ id }}-a').on('click', function() {
                $.get("{{ path('elfinder', {'instance': instance, 'homeFolder': homeFolder }) }}?id={{ id }}&callback=elFinderSetValue", function(response) {
                    $('#{{ id }}-modal .modal-body').html(response);
                });

                $('#{{ id }}-modal').modal();

                return false;
            });
        </script>
    {% endif %}
{% endblock %}

{% block choice_widget_collapsed %}
    {{ parent() }}

    {% if select2_config is defined and select2_config is not empty %}
        {% set _select2_locales = ['ar', 'az', 'bg', 'ca', 'cs', 'da', 'de', 'el', 'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gl', 'he', 'hi', 'hr', 'hu', 'id', 'is', 'it', 'ja', 'km', 'ko', 'lt', 'lv', 'mk', 'ms', 'nb', 'nl', 'pl', 'pt-BR', 'pt', 'ro', 'ru', 'sk', 'sr-Cyrl', 'sr', 'sv', 'th', 'tr', 'uk', 'vi', 'zh-CN', 'zh-TW'] %}
        {% set _app_language = app.request.locale|split('-')|first|split('_')|first %}
        {% set _select2_locale = app.request.locale in _select2_locales ? app.request.locale : _app_language in _select2_locales ? _app_language : 'en' %}

        <script type="text/javascript">
            $(function() {
                $('#{{ id }}').select2($.extend({ theme: 'bootstrap', language: '{{ _select2_locale }}' }, {{ select2_config|raw }}));
            });
        </script>
    {% endif %}
{% endblock %}

{% use '@IvoryCKEditor/Form/ckeditor_widget.html.twig' %}

{% block ckeditor_widget %}
    {{ parent() }}
    {{ block('elfinder_modal') }}
    <script type="text/javascript">
        (function($) {
            CKEDITOR.on('dialogDefinition', function (ev) {
                var definition = ev.data.definition;
                var tabCount = definition.contents.length;
                for (var i = 0; i < tabCount; i++) {
                    var browseButton = definition.contents[i].get('browse');
                    if (browseButton !== null) {
                        browseButton.hidden = false;
                        var elFinderUrl = browseButton['filebrowser']['url'];
                        var target = browseButton['filebrowser']['target'].split(':');
                        browseButton.onClick = (function(target, elFinderUrl) {
                            return function() {
                                var dialog = this.getDialog();
                                window['elFinderSetCKEditor'+i] = function (value, id) {
                                    value = value.replace(/^\/+/gm, '');
                                    dialog.getContentElement(target[0], target[1]).setValue('/'+value);
                                }

                                $.get(elFinderUrl+"?id={{ id }}&callback=elFinderSetCKEditor"+i, function(response) {
                                    $('#{{ id }}-modal .modal-body').html(response);
                                });

                                $('#{{ id }}-modal').modal();
                            }
                        })(target, elFinderUrl);
                    }
                }
            });
        })(jQuery);
    </script>
{% endblock %}
