.main-header > .navbar {
  background-image: linear-gradient(to top, #ffd200 3px, #2c323a 3px, #2c323a 100%);
}

/**
USER DROPDOWN
 */
.main-header .navbar-custom-menu .nav>li>a {
  color: #fff;
}
.main-header .navbar-custom-menu .nav>li>a:hover,
.main-header .navbar-custom-menu .nav>li>a:active,
.main-header .navbar-custom-menu .nav>li>a:focus,
.main-header .nav .open>a:hover,
.main-header .nav .open>a,
.main-header .nav .open>a:active,
.main-header .nav .open>a:focus {
  color: #2c323a;
  background: #ffd200;
  opacity: 1;
}
.main-header .navbar-custom-menu .nav>li a span {
  position: relative;
  padding-right: 15px;
}
.main-header .navbar-custom-menu .nav>li a span:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.main-header .navbar-custom-menu .nav>li a:hover span:after,
.main-header .navbar-custom-menu .nav>li a:focus span:after {
  border-top: 0;
  border-bottom: 6px solid #2c323a;
}
.main-header .navbar .user-menu .dropdown-menu {
  background: #565B61;
  box-shadow: 2px 3px 5px #c7c7c7;
  border-radius: 2px;
  position: absolute;
  left: auto;
  border: 0;
  right: 0;
}
.main-header .navbar .user-menu .dropdown-menu li {
  padding: 0;
}
.main-header .navbar .user-menu .dropdown-menu a {
  color: #ffffff;
  padding: 1rem 2rem;
}
.main-header .navbar .user-menu .dropdown-menu a:hover {
  background-color: #373E48;
}

/**
SIDEBAR
 */
.main-sidebar {
  background-color: #2c323a;
}
.sidebar-menu .treeview-menu {
  display: block;
}
.sidebar-menu > li:hover > a,
.sidebar-menu .treeview-menu > li:hover > a,
.sidebar-menu > li.active > a,
.sidebar-menu .treeview-menu > li.active > a,
.sidebar-collapse .sidebar-menu > li.active.submenu-active > a,
.sidebar-collapse .sidebar-menu > li:hover .treeview-menu > li.active > a {
  color: #FFFFFF;
  background: #525c6b;
  border-left-color: #ffd200;
}
.sidebar-menu .treeview-menu > li > a {
  background: #2c323a;
}
.sidebar-menu .treeview > span > i {
  margin-right: 5px;
}
.sidebar-menu .treeview-menu>li {
  padding: 0;
  background: none;
}
.sidebar-menu > li > a, .sidebar-menu .treeview-menu > li > a {
  background: #2c323a;
}
.sidebar-menu > li.treeview > a {
  background: #373e48;
}
.sidebar-menu > li.treeview.active > a {
  background: #525c6b;
  border-bottom: 1px solid #434a54;
}


.sidebar-menu > li > span, .sidebar-menu .treeview-menu > li > span {
  color: #CCC;
  border-left: 3px solid transparent;
  display: block;
  font-weight: bold;
  opacity: 1;
  background: #373e48;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px 5px 12px 15px;
  position: relative;
}


/**
RIGHT SIDE - CONTENT
 */
.right-side {
  background: #fff;
}


/**
FOOTER COPY in SIDEBAR
 */
#bottom {
  display: inline-block;
  width: 100%;
  color: #6f7b8c;
  margin: 2rem 0;
  padding: 1.5rem;
  border-top: 1px solid #525c6b;
  text-align: center;
}

/**
BURGOV KEYVALUE TYPE
 */
.field-burgov_key_value_row .control-label {
  display: none;
}


/**
RESPONSIVE
 */
@media (max-width: 991px) {
  .content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    background: none;
    margin: 10px 0 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .main-header #header-logo {
    border-bottom: 1px solid #404852;
  }
  .main-header .navbar-custom-menu {
    height: auto;
    width: auto;
    background: none;
  }
  .main-sidebar {
    padding-top: 96px;
  }
  .main-header .navbar .sidebar-toggle {
    top: 46px;
    height: 33px;
  }
  .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: normal;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-toggle {
    background: rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding-left: 18px;
    width: auto;
    height: 47px;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    width: 60px !important;
  }
}