{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        $('.field-collection').on('easyadmin.collection.item-added', function() {
            var $parent = $(this);
            var $field = $parent.find('select[data-widget=select2]');

            if (!$field.length) {
                return;
            }

            var $input = $parent.find('select[data-widget=select2]').select2({
                theme: 'bootstrap'
            });
        });
    </script>
{% endblock %}
