{% if includeAssets %}
    {{ include("FMElfinderBundle:Elfinder:helper/assets_css.html.twig") }}

    {#{{ include("FMElfinderBundle:Elfinder:helper/assets_js.html.twig") }}#}
    <script src="{{ asset("#{prefix}/jquery-ui/jquery-ui.min.js") }}"></script>
    <script src="{{ asset("#{prefix}/elfinder/dist/js/elfinder.min.js") }}"></script>
    <script src="{{ asset("#{prefix}/elfinder/dist/js/i18n/elfinder.#{locale|split('_')[0]}.js") }}"></script>
{% endif %}

{% set id = app.request.query.get('id', 'elfinder')~'-elfinder' %}
{% set customId = app.request.query.get('id', 'elfinder') %}

<div id="{{ id }}"></div>

<script type="text/javascript" charset="utf-8">
    (function() {
        // Initialize file loader
        window['{{ id }}'] = $('#{{ id }}').elfinder({
            url: '{{ path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } )}}',
            lang: '{{ locale|split('_')[0] }}',
            onlyMimes: {{ onlyMimes|raw }},
            getFileCallback: function(file) {
                var callback = window["{{ app.request.query.get('callback', '') }}"];
                if (typeof callback === 'function') {
                    {% if relative_path %}
                    callback('{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""), '{{ app.request.query.get('id') }}');
                    {% else %}
                    callback(file.url, '{{ app.request.query.get('id') }}');
                    {% endif %}
                }
                $('#{{ customId }}-img').attr('src', '{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""));
                $('#{{ customId }}-img-lightbox').attr('src', '{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""));

                // We add url path where file is saved before save page
                $('.{{ customId }}-inputText input').val('{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""));
                $('.{{ customId }}-inputText').show();

                // We show image preview on close elfinder
                $('.actualImage_{{ customId }}').show();
                // hide modal
                $('#{{ customId }}-modal .close-modal').click();
                // remove modal body content
                $('#{{ customId }}-modal .modal-body').html('');
            }
        }).elfinder('instance');

        // Choose elfinder image on click button
        $('#{{ customId }}-modal .choose-img').click(function(e) {
            try {
                window[ '{{ id }}' ].getCommand('getfile').exec();
            } catch (e) {
                alert('Nejprve vyberte soubor');
            }
            e.preventDefault();
        });

        // remove modal body content on hide
        $('#{{ customId }}-modal').on("hidden.bs.modal", function (e) {
            $('#{{ customId }}-modal .modal-body').html('');
        });
    })();
</script>
