{% extends ['@CP\easy_admin/layout.html.twig', '@EasyAdmin/default/layout.html.twig'] %}

{% block head_stylesheets %}
    {{ parent() }}
    {% if includeAssets %}
        {{ include("FMElfinderBundle:Elfinder:helper/assets_css.html.twig") }}
    {% endif %}
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    {% if includeAssets %}
        {#{{ include("FMElfinderBundle:Elfinder:helper/assets_js.html.twig") }}#}
        <script src="{{ asset("#{prefix}/jquery-ui/jquery-ui.min.js") }}"></script>
        <script src="{{ asset("#{prefix}/elfinder/dist/js/elfinder.min.js") }}"></script>
        <script src="{{ asset("#{prefix}/elfinder/dist/js/i18n/elfinder.#{locale|split('_')[0]}.js") }}"></script>
    {% endif %}

    <script type="text/javascript" charset="utf-8">
        $().ready(function() {
            var $f = $('#elfinder').elfinder({
                url : '{{ path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder }) }}',
                lang : '{{ locale|split('_')[0] }}',
                onlyMimes: {{ onlyMimes|raw }}
            });
        });
    </script>
{% endblock %}

{% block content_title %}
    {{ 'admin.class.file_manager'|trans }}
{% endblock %}

{% block main %}
    <div id="elfinder"></div>
{% endblock %}
