{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block adminlte_options %}
    <script type="text/javascript">
        var AdminLTEOptions = {
            animationSpeed: 'normal',
            sidebarExpandOnHover: false,
            enableBoxRefresh: false,
            enableBSToppltip: false,
            enableFastclick: false,
            enableControlSidebar: false,
            enableBoxWidget: false,
            enableControlTreeView: false
        };
    </script>
{% endblock %}

{#
{% block header_logo %}
    <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
        <img src="{{ asset('bundles/cognitowinston/images/logo-cognito.jpg') }}" alt="{{ easyadmin_config('site_name')|striptags }}"> {{ easyadmin_config('site_name')|raw }}
    </a>
{% endblock header_logo %} #}
