{% extends '@CP/easy_admin/sortable-list.html.twig' %}

{% block global_actions %}
    {% set _request_parameters = _request_parameters|merge({ referer: '' }) %}
    {% set _request_parameters = _request_parameters|merge({ parent: app.request.get('parent') }) %}
    {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

    {{ parent() }}
{% endblock %}

{% block content_header %}
    {% set _request_parameters = _request_parameters|merge({ referer: '' }) %}
    {% set _request_parameters = _request_parameters|merge({ parent: app.request.get('parent') }) %}
    {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

    {{ parent() }}
{% endblock %}

{% block main %}
    {% set _request_parameters = _request_parameters|merge({ referer: '' }) %}
    {% set _request_parameters = _request_parameters|merge({ parent: app.request.get('parent') }) %}
    {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

    <div class="row mb-1">
        <div class="col-sm-6 pr-0">
            <select id="parent-select" class="form-control">
                {% for parent in parents %}
                    <option value="{{ parent.id }}" {% if app.request.get('parent') == parent.id %}selected="selected"{% endif %}>{{ parent.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-6 pl-0">
            <div class="button-action">
                <a id="change-parent" class="btn btn-primary" href="#">
                    <i class="fa fa-retweet"></i>
                    {{ 'action.change_parent'|trans }}
                </a>
                <a class="btn btn-warning" href="{{ path('easyadmin', _request_parameters|merge({ action: 'backToList' })) }}">
                    <i class="fa fa-chevron-left"></i>
                    {{ 'action.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $("#parent-select").select2();

        $('#change-parent').on('click', function(e) {
            e.preventDefault();
            var path = window.location.href;
            if (path.match(/parent=\d/)) {
                path = path.replace(/parent=\d/, 'parent=' + $('#parent-select').val());
            } else {
                path = path + '&parent=' + $('#parent-select').val();
            }
            window.location.href = path;
        });
    </script>

    <style type="text/css">
        #change-parent {
            position: relative;
            left: -2px;
            border-radius: 0 4px 4px 0;
        }
        .select2-container--default .select2-selection--single {
            border-radius: unset;
            height: 34px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: 1px;
        }
        .mb-1 {
            margin-bottom: 1rem;
        }
        .pr-0 {
            padding-right: 0;
        }
        .pl-0 {
            padding-left: 0;
        }
        .select2-results__options li {
            margin-bottom: 0;
        }
    </style>
{% endblock %}