{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}

    <div class="button-action">
        <a class="btn btn-primary action-sortFaq" href="{{ path('easyadmin', _request_parameters|merge({ action: 'sortItems' })) }}">
            <i class="fa fa-th"></i>
            {{ 'action.sort'|trans }}
        </a>
    </div>
{% endblock global_actions %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            // sortable
            $('table tbody').sortable({});

            $('.action-sortFaq').click(function (event) {
                var link = $(this).attr('href'),
                    order = []
                ;

                $('table tbody tr').each(function (index) {
                    order.push($(this).data('id'));
                });
                if (order.length) {
                    link += '&order=' + order.join(',');
                }

                document.location = link;
                event.preventDefault();
            })
        });
    </script>

    <style type="text/css">
        table tbody tr td {
            cursor: pointer;
        }
    </style>
{% endblock %}
