{% extends '@EasyAdmin/default/list.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cpcreap/treegrid/jquery.treegrid.css') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cpcreap/treegrid/jquery.treegrid.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table.tree, .tree table').treegrid({
                expanderExpandedClass: 'fa fa-angle-down',
                expanderCollapsedClass: 'fa fa-angle-right'
            });
        });
    </script>

    <script type="text/javascript">
        $("#parent-select").select2();

        $('#change-parent').on('click', function(e) {
            e.preventDefault();
            var path = window.location.href;
            if (path.match(/parent=\d/)) {
                path = path.replace(/parent=\d/, 'parent=' + $('#parent-select').val());
            } else {
                path = path + '&parent=' + $('#parent-select').val();
            }
            window.location.href = path;
        });
    </script>

    <style type="text/css">
        #change-parent {
            position: relative;
            left: -2px;
            border-radius: 0 4px 4px 0;
        }
        .select2-container--default .select2-selection--single {
            border-radius: unset;
            height: 34px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: 1px;
        }
        .mb-1 {
            margin-bottom: 1rem;
        }
        .pr-0 {
            padding-right: 0;
        }
        .pl-0 {
            padding-left: 0;
        }
        .select2-results__options li {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="tree">

        {% set _request_parameters = _request_parameters|merge({ referer: '' }) %}
        {% set _request_parameters = _request_parameters|merge({ parent: app.request.get('parent') }) %}
        {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

        <div class="row mb-1">
            <div class="col-sm-6 pr-0">
                <select id="parent-select" class="form-control">
                    {% for parent in parents %}
                        <option value="{{ parent.id }}" {% if app.request.get('parent') == parent.id %}selected="selected"{% endif %}>{{ parent.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-6 pl-0">
                <div class="button-action">
                    <a id="change-parent" class="btn btn-primary" href="#">
                        <i class="fa fa-retweet"></i>
                        {{ 'action.change_parent'|trans }}
                    </a>
                    <a class="btn btn-warning" href="{{ path('easyadmin', _request_parameters|merge({ action: 'backToList' })) }}">
                        <i class="fa fa-chevron-left"></i>
                        {{ 'action.back_to_list'|trans }}
                    </a>
                </div>
            </div>
        </div>

        {{ parent() }}
    </div>
{% endblock %}

{% block table_body %}
    {% set tree = tree(paginator|recursive) %}
    {% for item in tree %}
        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
        {% set _parent_id = item.parent ? '' ~ attribute(item.parent, _entity_config.primary_key_field_name) %}
        <tr data-id="{{ _item_id }}" class="treegrid-{{ _item_id }} treegrid-level-{{ tree.depth + 1 }} {%- if item.parent %} treegrid-parent-{{ _parent_id }}{% endif %}">
            {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                    {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                </td>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                <td data-label="{{ _column_label }}" class="actions">
                    {{ block('item_actions') }}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block global_actions %}
    {% set _request_parameters = _request_parameters|merge({ referer: '' }) %}
    {% set _request_parameters = _request_parameters|merge({ parent: app.request.get('parent') }) %}
    {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

    {{ parent() }}
{% endblock %}

{% block content_header %}
    {% set _request_parameters = _request_parameters|merge({ referer: '' }) %}
    {% set _request_parameters = _request_parameters|merge({ parent: app.request.get('parent') }) %}
    {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

    {{ parent() }}
{% endblock %}