{% extends '@EasyAdmin/default/list.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cpcreap/treegrid/jquery.treegrid.css') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cpcreap/treegrid/jquery.treegrid.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table.tree, .tree table').treegrid({
                expanderExpandedClass: 'fa fa-angle-down',
                expanderCollapsedClass: 'fa fa-angle-right'
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="tree">
        {{ parent() }}
    </div>
{% endblock %}

{% block table_body %}
    {% set tree = tree(paginator|recursive) %}
    {% for item in tree %}
        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
        {% set _parent_id = item.parent ? '' ~ attribute(item.parent, _entity_config.primary_key_field_name) %}
        <tr data-id="{{ _item_id }}" class="treegrid-{{ _item_id }} treegrid-level-{{ tree.depth + 1 }} {%- if item.parent %} treegrid-parent-{{ _parent_id }}{% endif %}">
            {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                    {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                </td>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                <td data-label="{{ _column_label }}" class="actions">
                    {{ block('item_actions') }}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
