{% if routeExists(value) %}
    {% if item.routeParameters is empty %}
        <a href="{{ path(value) }}">{{ path(value) }}</a>
    {% else  %}
        <a href=" {{ path(value, item.routeParameters) }}"> {{ path(value, item.routeParameters) }}</a>
    {% endif %}
{% else %}
    <a href="{{ value }}">{{ value }}</a>
{% endif %}
